@media (min-width: 768px) {
    .form-group {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .form-group label {
        width: 15rem;
    }

   .tables {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 1.5rem;
        justify-content: center;
   }

}