@media (max-width: 760px) {
    body::before {
        content: "";
        position: fixed;
        inset: 0;
        z-index: 10;;
        opacity: 0;
        pointer-events: none;
        background: rgba(0, 0, 0, 0.6);
        transition: 0.4s ease;
    }

    body:has(header:not(.collapsed))::before {
        opacity: 1;
        pointer-events: auto;
    }

    .site-nav {
        display: block;
    }

    header {
        position: fixed;
        left: 0;
        width: 270px;
        height: 100%;
        z-index: 20;
        transition: left 0.4s ease ;
    }

    .collapsed {
        left: -270px;
        width: 270px;
    }
}